.main-block{
    margin-top: 250px;
    display: flex;
    justify-content: center;
}
form{
    background-color: #e6e6e6;
    height: 200px;
    width: 700px;
   text-align: center;
   border: 1px solid #cccccc;
}
p {
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #4f4f4f;
}
.currency{
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.item {
    margin-right: 20px;
    height: 100px;
    width: 200px;
  }
select{
    height: 35px;
    width: 60px;
    border: 1px solid #cccccc;
    color: #696969;
}
input{
    border: 1px solid #cccccc;
    background: white;
    color: #696969;

}
.sum{
    height: 30px;
    width: 200px;
    margin-right: 20px;

}
input:hover{
    color: #fff;
    background-color: #696969;
    
}
.submit {
    height: 35px;
    width: 200px;
    margin-left: 20px;
    
}
select:hover{
    color: #fff;
    background-color: #696969;
    
} 
span{
    font-size: 30px;
    color: #808080;

}
